@use "base";

.dashboardContainer {
  position: relative;
}

.bottom {
  display: flex;
  margin-top: 100px;
  width: 100%;

  .main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    padding: 20px 60px;
    overflow-y: auto;

    @media screen and (max-width: 1024px) {
      margin-left: 0;
      width: 100%;
    }

    @media screen and (max-width: 425px) {
      padding: 10px;
    }
  }
}
