@use "base";

.mainContent {
  display: grid;
  row-gap: 2.5rem;
  // height: calc(100% - 6.25rem);
  margin-top: 2.5rem;

  h1 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .userSummary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  .userTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
    border: 0.0625rem solid #213f7d0f;

    thead {
      font-size: 0.75rem;
      tr {
        th {
          div {
            display: flex;
            gap: 0.625rem;
            align-items: center;

            svg {
              cursor: pointer;
            }
          }
        }
      }
    }

    th,
    td {
      padding: 1rem;
      text-align: left;
      border-bottom: 0.0625rem solid #ddd;
    }

    tbody {
      font-size: 0.875rem;
      td {
        &.options-icon {
          cursor: pointer;
        }
      }

      .status {
        padding: 0.4375rem 0.8125rem;
        border-radius: 6.25rem;
      }

      .active {
        background-color: base.$bg-green-lg;
        height: 1.875rem;
        color: base.$green-lg;
      }

      .inactive {
        background-color: base.$bg-gray;
        height: 1.875rem;
        color: base.$gray;
      }

      .pending {
        background-color: base.$bg-yellow;
        height: 1.875rem;
        color: base.$yellow;
      }

      .blacklisted {
        background-color: base.$bg-red;
        height: 1.875rem;
        color: base.$red;
      }
    }
  }
}
