@use "../styles/base";

.button {
  height: 2.5rem;
  max-width: 10.625rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;

  &.green {
    // For outlined variant
    &.outlined {
      border: 0.0625rem solid base.$green;
      color: base.$green;
      background-color: transparent;
    }

    // For filled variant
    &.filled {
      background-color: base.$green;
      color: base.$white;
    }
  }

  &.red {
    &.outlined {
      border: 0.0625rem solid base.$red;
      color: base.$red;
      background-color: transparent;
    }

    &.filled {
      background-color: base.$red;
      color: base.$white;
    }
  }

  &.gray {
    &.outlined {
      border: 0.0625rem solid base.$gray;
      color: base.$gray;
      background-color: transparent;
    }

    &.filled {
      background-color: base.$gray;
      color: base.$white;
    }
  }
}
