@use "../styles/base";

.popup-overlay {
  position: fixed;
  top: 100px;
  left: 250px;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;

  @media screen and (min-width: 1600px) {
    margin: 0 auto;
    max-width: 1600px;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;

    h3 {
      margin-bottom: 20px;
      font-size: 18px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 10px;
        font-size: 14px;
        margin-top: 10px;

        input,
        select {
          margin-top: 5px;
          padding: 10px;
          box-sizing: border-box;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;
      }
    }
  }
}
