@use "../styles/base";

.options-overlay {
  position: fixed;
  top: 31.25rem;
  left: 0;
  right: 3.75rem;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;

  @media screen and (min-width: 100rem) {
    margin: 0 auto;
    max-width: 100rem;
  }

  .options-dropdown {
    position: absolute;
    background-color: base.$white;
    border: 0.0625rem solid base.$bg-gray;
    box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 1000;
    padding: 0.625rem;

    .option-item {
      padding: 0.625rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: base.$bg-gray;
      }

      .icon {
        margin-right: 0.625rem;
      }
    }
  }
}
