@use "../styles/base";

.options-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;

  .options-dropdown {
    // margin-top: 1rem;
    margin-right: 2.5rem;
    background-color: base.$white;
    border: 1px solid base.$bg-gray;
    box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.625rem;
    width: 11.25rem;


    .option-item {
      padding: 0.625rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: base.$bg-gray;
      }

      .icon {
        margin-right: 0.625rem;
      }
    }
  }
}
