@use "./../styles/base";

.sidebar {
  width: 283px;
  box-sizing: border-box;
  background-color: base.$white;
  padding-top: 140px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  box-shadow: 3px 0px 20px 0px #0000000a;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 10px;

    .li {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      color: base.$blue;
      opacity: 60%;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      .icon {
        margin-right: 10px;
        color: base.$blue;
      }

      &:hover {
        opacity: 100%;
        background-color: base.$bg-green-lg;
      }
    }

    .section-header {
      font-weight: bold;
      color: base.$gray;
      font-weight: 500;
      font-size: 12px;
      margin: 20px 0 10px;
    }

    .switch-organization {
      color: base.$blue;
      opacity: 100%;

      span {
        margin-right: 10px;
      }
    }

    .end {
      margin-top: 70px;
      border-top: 1px solid base.$bg-blue;

      .li {
        opacity: 100%;

        &.logout {
          padding-top: 20px;
          &:hover {
            color: base.$red;
          }
        }

        span.text-xs {
          margin-top: 20px;
        }
      }
    }
  }
}

// Overlay for when the sidebar is open
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

// Hamburger Menu
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  top: 10px;
  left: 10px;
  margin-top: 10px;
  z-index: 1500000;
}

// For smaller screens
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); // Initially hide sidebar off screen
  }

  .sidebar.open {
    transform: translateX(0); // Slide sidebar into view
  }

  .hamburger {
    display: block;
  }

  .overlay.active {
    display: block; // Show overlay when the sidebar is open
  }
}
