@use "../styles/base";

.userTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
  border: 0.0625rem solid #213f7d0f;
  box-sizing: border-box;
  padding: 1.875rem;

  
  .rdt_TableHeadRow {
    border-bottom: none !important; 
  }

  .rdt_TableCol_Sortable {
    font-size: 0.75rem;
    font-weight: 600;
    color: base.$gray;
    display: flex;
    gap: 0.625rem;
    align-items: center;
  }

  .rdt_TableHead .rdt_TableCol svg {
    opacity: 1;
    transition: none;
  }

  .asc.__rdt_custom_sort_icon__ {
    transform: rotate(180deg);
    margin-top: -9px;
  }
  
  .desc.__rdt_custom_sort_icon__ {
    transform: rotate(0deg);
  }

  .rdt_TableCol:not(.rdt_TableCol--sorted) svg {
    opacity: 1;
  }

  // .rdt_TableCol--sorted svg {
  //   opacity: 1 !important;
  // }


  .rdt_TableBody {
    .rdt_TableRow {
      padding: 1.25rem 0;
      color: base.$gray;

      .rdt_TableCell {
        .status {
          padding: 0rem 0.8125rem;
          height: 1.875rem;
          border-radius: 6.25rem;
          display: grid;
          align-items: center;
        }

        .active {
          background-color: base.$bg-green-lg;
          height: 1.875rem;
          color: base.$green-lg;
        }

        .inactive {
          background-color: base.$bg-gray;
          height: 1.875rem;
          color: base.$gray;
        }

        .pending {
          background-color: base.$bg-yellow;
          height: 1.875rem;
          color: base.$yellow;
        }

        .blacklisted {
          background-color: base.$bg-red;
          height: 1.875rem;
          color: base.$red;
        }

        .option-icon {
          cursor: pointer;
        }
      }
    }
  }
}

.rdt_Pagination {
  justify-content: center !important;

  span.kfEVfC {
    font-size: 0;
  }

  span.kfEVfC::before {
    content: "Showing";
    font-size: 0.875rem;
  }

  div.bpcekY {
    background-color: base.$bg-blue;
    border-radius: 0.25rem;
    margin-left: 0.625rem;
    margin-right: auto;
  }

  //   span.jEvKKB {
  //     display: block;
  //     margin-right: auto;
  //     margin-left: 0;
  //   }

  //   span.jEvKKB::before {
  //     content: "of 500";
  //     font-size: .875rem;
  //   }
}
