@use "../styles/base";

.user_card {
  display: grid;
  width: 100%;
  column-gap: 1.875rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @media screen and (max-width: 64rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 1.25rem;
  }

  .container {
    padding: 1.25rem 1.875rem;
    box-sizing: border-box;
    width: 15rem;
    height: 10rem;
    border-width: 0rem, 0rem, 0rem, 0rem;
    border-style: solid;
    border-color: #213f7d0f;
    box-shadow: 3px 5px 20px 0px #0000000a;

    @media screen and (max-width: 56.25rem) {
      height: auto;
      width: auto;
    }

    .text-sm {
      margin: 0.875rem 0rem 0.75rem;
    }

    p {
      margin: 0;
    }

    .icon {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: grid;
      place-content: center;

      &.pink {
        background-color: base.$bg-pink;
      }

      &.purple {
        background-color: base.$bg-purple;
      }

      &.orange {
        background-color: base.$bg-orange;
      }

      &.red {
        background-color: base.$bg-red;
      }
    }
  }
}
