@use "../styles/base";

.user_card {
  display: grid;
  width: 100%;
  column-gap: 1.875rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    row-gap: 1.25rem;
  }

  @media screen and (min-width: 1440px) {
    width: fit-content;
  }

  .container {
    padding: 20px 30px 4px;
    box-sizing: border-box;
    width: 15rem;
    height: 10rem;
    border-style: solid;
    border-color: #213f7d0f;
    box-shadow: .1875rem .3125rem 1.25rem 0rem #0000000a;

    @media screen and (max-width: 1360px) {
      width: 13.125rem;
    }

    @media screen and (max-width: 1220px) and (min-width: 1025px) {
      width: auto;
      height: auto;
    }

    @media screen and (max-width: 900px) {
      height: auto;
      width: 100%;
    }

    .text-sm {
      margin-top: .625rem;
    }

    p {
      margin: 0;
    }

    .icon {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: grid;
      place-content: center;

      &.pink {
        background-color: base.$bg-pink;
      }

      &.purple {
        background-color: base.$bg-purple;
      }

      &.orange {
        background-color: base.$bg-orange;
      }

      &.red {
        background-color: base.$bg-red;
      }

      img{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
